.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: 30px;
    position: relative;
    top: 50px;
  }
  
  .form-group {
    width: 50%;
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .form-check-input {
    margin-right: 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  