.nav {
  height: 10vh;
}
.img {
  background-image: url(./1177568.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  left: 80%;
  top: -20px;
}

.img1 {
  background-color: aqua;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 18px;
}
.submenu {
  background-color: aliceblue;
  position: absolute;
  top: 50px;
  left: 350px;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 999;
}
.openmenu {
  max-height: 400px;
}
.sub {
  width: 280px;
  padding: 10px;
  margin: 5px;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user h3 {
  font-size: 28px;
  font-weight: 700;
}
.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 8px 0;
}
.link p {
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
}
.link span {
  font-size: 22px;
  font-weight: bold;
  transition: transform 0.5s;
}
link:hover span {
  transform: translateX(5px);
}
link:hover p {
  font-weight: 600;
}
.noti {
  position: absolute;
  right: 180px;
  top: -10px;
}
@media (max-width: 768px) {
  .img {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 768px) {
  .submenu {
    right: 5%; /* position on the right for larger screens */
    width: 280px;
  }
}
@media only screen and (max-width: 768px) {
  .img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
  }
}
