.body {
  position: absolute;

  background-image: url(./dashimg.jpg);
  background-size: cover;
  width: 100%;
  height: 86%;
}
h2 {
  margin-top: 20px;
  color: aliceblue;
  text-align: center;
}
.btn {
  position: absolute;
  bottom: 50px;
  left: 100px;
  width: 300px;
}
.btn Button {
  display: inline;
  margin-bottom: 20px;
  width: 20px;
  margin-left: 20px;
  height: 80px;
  font-size: 24px;
}
.box {
  background-color: rgb(181, 182, 182);
  width: 350px;
  height: 420px;
  position: absolute;
  right: 150px;
  border-radius: 20px;
  opacity: 0.9;
}
.body .box Button {
  display: block;
  margin-top: 15px;
  position: relative;
  left: 15%;
  top: 10px;
  width: 250px;
  height: 40px;
  font-size: 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
}
/* For screens smaller than 768px */
@media only screen and (max-width: 767px) {
  .body {
    height: 100%;
  }
  .btn {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
  .btn Button {
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
    font-size: 20px;
  }
  .box {
    width: 90%;
    height: 300px;
    right: 50%;
    transform: translateX(50%);
    top: 20px;
  }
  .body .box Button {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 40px;
    font-size: 16px;
  }
}

/* For screens larger than 768px */
@media only screen and (min-width: 768px) {
  .body {
    height: 90%;
  }
  .btn {
    bottom: 50px;
    left: 100px;
    width: 300px;
  }
  .btn Button {
    display: inline;
    margin-bottom: 20px;
    width: 20px;
    margin-left: 20px;
    height: 80px;
    font-size: 24px;
  }
  .box {
    width: 350px;
    height: 420px;
    position: absolute;
    right: 150px;
    border-radius: 20px;
    opacity: 0.9;
  }
  .body .box Button {
    display: block;
    margin-top: 15px;
    position: relative;
    left: 15%;
    top: 10px;
    width: 250px;
    height: 40px;
    font-size: 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
  }
}
