.table {
  width: 60%;
  position: absolute;
  left: 300px;
  bottom: 200px;
  margin-left: 20px;
  float: left;
}
.table {
  background-color: aliceblue;
}
.card {
  float: right;
  width: 350px;
  position: absolute;
  left: 1100px;
}
.search {
  width: 300px;
  position: relative;
  left: 300px;
}
.body .table {
  background-color: aliceblue;
  position: absolute;
  top: 200px;
  left: 100px;
}
