.main .table {
  background-color: aliceblue;
  position: absolute;
  left: 100px;
  top: 200px;
}
.green {
  color: green;
}

.red {
  color: red;
}
.main .form {
  width: 300px;
  background-color: aliceblue;
  position: relative;
  left: 1000px;
  bottom: 500px;
}
h1 {
  text-align: center;
}
.main Button {
  width: 10px;
}
.error {
  color: red;
  margin-bottom: 10px;
}
