h2 {
  text-align: center;
  padding: 20px;
}

.search {
  margin-top: 30px;
  width: 300px;
  position: relative;
  left: 200px;
}
.drop {
  position: relative;
  left: 45%;
}
.filter {
  position: relative;
  bottom: 80px;
  float: right;
  margin-right: 20px;
}
#deliver {
  background-color: rgb(0, 131, 59);
  margin-left: 20px;
}
.search {
  width: 300px;
}
.drop {
  position: relative;
  left: 700px;
}
.filtter {
  float: right;
  margin-right: 30px;
  position: relative;
  bottom: 80px;
}
#btncon {
  background-color: darkcyan;
}
.del {
  color: black;
}
.body {
  margin: 0;
  background-color: rgb(222, 222, 222);
}

.body Table {
  margin-top: 40px;
  position: absolute;
  left: 300px;

  background-color: aliceblue;
  width: 1000px;
}
